<div>
  <p>Simple Oauth HandShake Example. <br />Click the signin link or carepass image to proceed</p>
  <a href="/oauth/login">
    <img src="/images/registered_cp_logo.png" alt="carepass">
  </a>
</div>