{% extends 'layout.twig' %}

{% block page_title %}Error{% endblock %}

{% block content %}
<h1>Internal Server Error.</h1>
<p>This might be cause by an invalid or expired authorization token </p>
{% endblock %}