{% extends 'layout.twig' %}

{% block page_title %}CarePass Oauth HandShake Example{% endblock %}

{% block content %}
    <div>
        <p>Simple Oauth HandShake Example. <br />Click the signin link or carepass image to proceed</p>
        <a href="login">
            <img src="assets/img/registered_cp_logo.png" alt="carepass">
        </a>
    </div>
{% endblock %}