<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %} {% endblock %}</title>
    <meta charset="utf8" />
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
{% block content %} {% endblock %}
</body>
</html>