{% extends 'layout.twig' %}

{% block page_title %}Results{% endblock %}

{% block content %}
    <p>
        Hello {{ firstName }}  {{ lastName }}
    </p>
    <p>Your email is {{ email }}</p>
    <p>Your ID is {{ id }}</p>

{% endblock %}