<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--
  <package id="OAuth2" version="0.8" targetFramework="net40" />-->
  <package id="Autofac" version="2.6.3.862" targetFramework="net40" />
  <package id="Autofac.Mvc3" version="2.6.3.862" targetFramework="net40" />
  <package id="RestSharp" version="103.4" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
</packages>